/* cookers-section*/
.cookers-section {
  &__title {
    position: relative;
    margin: 0 auto 24px;

    @media screen and (min-width: 768px) {
      margin: 80px;
    }

    &::after,
    &::before {
      display: none;
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      content: "";

      @media screen and (min-width: 1280px) {
        display: block;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      gap: 40px 30px;
      flex-direction: row;
    }
  }
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
